/* Media Query for Mobile */
@media screen and (max-width: 768px) {
    .header {
      display: none; /* Hide desktop header */
    }
  
    .mobile-header {
      display: block; /* Show mobile header */
    }
  
    .mobile-menu.open {
      display: block;
    }
  
    /* Hide the donate button on mobile */
    .mobile-menu .donate-button {
      display: none;
    }
  
    /* Make menu text white */
    .mobile-menu ul li a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      font-family: "Poppins-medium", sans-serif;
    }
  
    .mobile-menu ul {
      list-style: none; /* Removes the dots */
      padding: 0; /* Removes any default padding */
      margin: 0; /* Removes any default margin */
      line-height: 3;
    }
    .mobile-header nav {
      border-radius: 0; /* Remove any border radius */
    }

    /* project2 page */

    .project-box{
      display: flex;
      flex-direction: column;
      background-color: #f5f5f5;
      /* margin: 20px 0; */
      border-radius: 10px;
      padding-top: 20px ;
    }

    .project-box img{
      width: 80vw;
    }




    
   
  
  }



  
/* Media Query for mobile */
@media screen and (max-width: 768px) {


    /* contact us page-------------------------- */

.contact-main{
  display: flex;
  flex-direction: column;
}

.contact-address {
  width: 100%;
}

.contact-form{
  width: 90%;
  margin: auto;
}

.vl {
  display: none;
}

/* faqs ------ */
.faq-accordion {
  width: 90%;
  margin: auto;
}
.faq-title h2{
  font-size: 2.5rem;
}
.faq-accordion h1 {
  font-size: 1.5rem;
  margin: 30px 0 0 ;
}


  }


  @media only screen and (min-width:768px) and (max-width:1300px){

    ------upper section-----
    .cont-banner {
      width: 72vw;
    }
    
    .cont-banner h1 {
      font-size: 3rem;
    }
    .cont-banner p {
      font-size: 18px;
    }    
    .cont-links a {
      font-size: 18px;
    }
   
    

    /* ------- */
    .doctors-content{
      width: 60%;
      margin: auto;
      padding-top: 50px;
      text-align: center;
    }

        
    .stat2 p 
    {
      font-size: 3rem;
    }
    
    .stat2 span 
    {
      font-size: 1rem;
    }


  }