/* Media Query for Mobile */
@media screen and (max-width: 768px) {
    .header {
      display: none; /* Hide desktop header */
    }
  
    .mobile-header {
      display: block; /* Show mobile header */
    }
  
    .mobile-menu.open {
      display: block;
    }
  
    /* Hide the donate button on mobile */
    .mobile-menu .donate-button {
      display: none;
    }
  
    /* Make menu text white */
    .mobile-menu ul li a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      font-family: "Poppins-medium", sans-serif;
    }
  
    .mobile-menu ul {
      list-style: none; /* Removes the dots */
      padding: 0; /* Removes any default padding */
      margin: 0; /* Removes any default margin */
      line-height: 3;
    }
    .mobile-header nav {
      border-radius: 0; /* Remove any border radius */
    }

    /* project2 page */

    .project-box{
      display: flex;
      flex-direction: column;
      background-color: #f5f5f5;
      /* margin: 20px 0; */
      border-radius: 10px;
      padding-top: 20px ;
    }

    .project-box img{
      width: 80vw;
    }



/* ------- */
.upper-section {
  height: 70vh;
}
.uper-sec-overlay{
  height: 100%;
  background-color: rgba(4 , 5, 6, 0.53); 
}
.cont-banner {
  padding: 5vw 10vw;
  color: white;
  width: 100vw;
  margin: 3vw;
  position: absolute;
  z-index: 1;
}

.cont-banner h1 {
  font-size: 2rem;
}
.cont-banner p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  padding-top: 20px;
}
    
   /* ----project section home page------ */
   .project-head{
    font-size: 40px;
  }
.project-section {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
.project-cardd {
  width: 100%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* -------section doctors  home page----------- */

.doctors{
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  color: white;
  background-color: rgba(255, 0, 0, 0.3);
}
.doctors-content{
  width: 80%;
  margin: auto;
  padding-top: 20px;
  text-align: center;
}
.doctors-content h2{
  font-size: 2rem;
}
.statistics{
  width: 90%;
  gap: 25px;
  padding: 20px;
}

.stat2{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.stat2 p 
{
  font-size: 2rem;
}

.stat2 span 
{
  font-size: 1rem;
}

/* ----  cont-text home page----- */
.cont-text{
  width: 95%;
}
.cont-text h2{
  font-size: 2rem;
}


/* ----------text-card-section---- */

.text-card-section {
display: none;
}


/* ----who we are------*/

.who-we-are{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  background-color: #f5f5f5; /* Light background color for section */
  margin-top: 40px;
  line-height: 1.2;
  color: var(--blue);
}

.who-left img{
  width: 100%;
  max-width: 450px;
  height: auto;
  border-radius: 8px;
  margin-right: 30px;
}

.who-right{
  max-width: 600px;
  /* margin-top: 15vh; */
}
.who-right h2{
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 800;
}
.who-right ul{
  padding-left: 25px;;
  font-size: 22px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.who-right p{
  font-size: 22px;
  line-height: 1.5;
}

.dd-color{
  background-color: #d9d9d9;
  color: var(--blue);
  padding: 5px;
}


 /* --------  homedonation-form ---------- */

 .content .form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 20px;
}

.content select {
  padding: 8px 12px;
  font-size: 1em;
}



/* Footer Bottom */
.footer-bottom {
  width: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-bottom img {
  width: 150px; 
  margin-bottom: 15px;
}
.footer-bottom p {
  font-size: 12px;
  padding:0;
}

/* --------gift and donate page---------- */

.donationsecond-main {
  padding: 20px 20px;
}
.donationsecond-title {
  font-size: 30px;
}

.donationsecond {
  flex-direction: column;
  width: 100%;
}

.donationsecond-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  width: 100%;
}
.donationsecond-overlay-text {
  bottom: 100px;
  font-size: 18px;
  
}

/* ------ about page---- ///////*/

/* ------ one big img---- */

.one-big-img{
  margin: auto;
  width: 95%;
  text-align: center;
  color: var(--blue);
}
.one-big-img-head h1{
  font-size: 2rem;
}

/* -------our approach   about page------ */


.our-approach{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

/* -------programs   about page----------- */
.program-title {
  font-size: 30px;
}
.programs{
  margin: auto;
  padding-bottom: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-size: cover;
  text-align: center;
}
.program-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 90px;
  margin-top: 35px;
}













/* -----donation page--- */
.donation-container {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.donation-image img {
  width: 100%;
  max-width: 250px;
  margin-bottom: 15px;
}

.donation-content {
  margin-left: 0;
}

.donation-amounts {
  justify-content: center;
}

.donation-input {
  flex-direction: column;
  align-items: center;
}
  }



  
/* Media Query for mobile */
@media screen and (max-width: 768px) {


    /* contact us page-------------------------- */

.contact-main{
  display: flex;
  flex-direction: column;
}

.contact-address {
  width: 100%;
}

.contact-form{
  width: 90%;
  margin: auto;
}

.vl {
  display: none;
}

/* faqs ------ */
.faq-accordion {
  width: 90%;
  margin: auto;
}
.faq-title h2{
  font-size: 2.5rem;
}
.faq-accordion h1 {
  font-size: 1.5rem;
  margin: 30px 0 0 ;
}


  }


  @media only screen and (min-width:768px) and (max-width:1300px){

    ------upper section-----
    .cont-banner {
      width: 72vw;
    }
    
    .cont-banner h1 {
      font-size: 3rem;
    }
    .cont-banner p {
      font-size: 18px;
    }    
    .cont-links a {
      font-size: 18px;
    }
   
    

    /* ------- */
    .doctors-content{
      width: 60%;
      margin: auto;
      padding-top: 50px;
      text-align: center;
    }

        
    .stat2 p 
    {
      font-size: 3rem;
    }
    
    .stat2 span 
    {
      font-size: 1rem;
    }


  }